/data/chenxi/llm-feature-engeneering/src/Fine_tune/heart_disease/model/
/data/chenxi/llm-feature-engeneering/src/Fine_tune/eucac/model/
/data/chenxi/llm-feature-engeneering/src/Fine_tune/diabetes/model/
/data/chenxi/llm-feature-engeneering/src/Fine_tune/circor/model/